examples/get_ip_location.json
[{"id":"ba82129c.3f62e","type":"ip-location-lite","z":"11289790.c89848","name":"","inputField":"payload","outputField":"payload","x":410,"y":980,"wires":[["e4c29cf1.193ee"]]},{"id":"9cde4b1a.5e1998","type":"inject","z":"11289790.c89848","name":"Inject 207.97.227.239","topic":"","payload":"207.97.227.239","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":980,"wires":[["ba82129c.3f62e"]]},{"id":"e4c29cf1.193ee","type":"debug","z":"11289790.c89848","name":"Geo IP location","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":980,"wires":[]}]
